<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('cinema-seats.jpg')%>)">
  <div class="container">
    <p class="text-center"><span data-controller="typed-js"></span></p>
  </div>
</div>
